.container {
  display: flex;
  align-items: center;
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  font-family: Arial, sans-serif;
}

.left-column {
  flex: 1;
  text-align: center;
}

img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  margin-bottom: 20px;
}

.social-media {
  display: flex;
  justify-content: center;
}

.social-media a {
  display: inline-block;
  margin: 0 10px;
  color: #999;
  font-size: 20px;
  transition: color 0.3s ease;
}

.social-media a:hover {
  color: #007bff;
}

.right-column {
  flex: 3;
}

.header {
  margin-bottom: 40px;
}

h1 {
  font-size: 32px;
  margin: 0;
}

h3 {
  font-size: 18px;
  margin-top: 10px;
  color: #666;
}

.content {
  background-color: #f6f8fa;
  padding: 20px;
  border-radius: 6px;
}

.tab {
  position: relative;
  display: inline-block;
  margin-right: 10px;
}

.tab input[type="radio"] {
  display: none;
}

.tab label {
  display: block;
  padding: 10px 20px;
  background-color: #f2f2f2;
  color: #24292e;
  border-radius: 4px 4px 0 0;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.tab label:hover {
  background-color: #eaecef;
}

.tab-content {
  display: none;
  padding: 20px;
  background-color: #fff;
  border-radius: 0 4px 4px 4px;
  position: absolute;
  top: 34px;
  left: 0;
  right: 0;
}

.tab-content h2 {
  margin-top: 0;
}

.tab input[type="radio"]:checked + label {
  background-color: #fff;
  color: #0366d6;
  border-bottom: 1px solid #f6f8fa;
  z-index: 2;
}

.tab input[type="radio"]:checked + label + .tab-content {
  display: block;
}
